@import "../../styles/vars.scss";
@import "../../theme/index.scss";
@import "../../styles/_mixins.scss";

.header {
  @include themeHandler() {
    // position: fixed;
    width: 100%;
    // background-color: var(--background);
    // transition: background-color 0.4s ease;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 100%;

      .logo {
        z-index: 3;
      }
    }
  }
}
