@import "../../styles/vars.scss";
@import "../../theme/index.scss";
@import "../../styles/_mixins.scss";

.header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: $headerHeight;

  .content {
    @include themeHandler() {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 30px;
      height: calc(100% - 1px);
      border-bottom: 1px solid var(--middleGrey);
    }
  }
}
