@import "../../../styles/_mixins.scss";

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include minWidth($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 710px;
    // background-color: red;
  }

  @include minWidth($desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    // background-color: red;
  }

  .item {
    // background-color: teal;

    @include maxWidth($tablet - 1) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &:not(:last-child, :nth-last-child(2)) {
      margin-bottom: 30px;
    }

    .card {
      // background-color: pink;

      .thumb {
        @include flexXY(center, center);
        overflow: hidden;
      }

      .meta {
        .description {
          // color: greenyellow;
        }
      }
    }
  }
}
