@import "../../../styles/_mixins.scss";

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    display: flex;
    background-color: teal;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .card {
      // margin: 0 auto;
      // width: 92%;

      // height: 100px;
      background-color: pink;

      .thumb {
        // width: calc(100% - 30px);
        @include flexXY(center, center);
        // @include marginB(10px);
        overflow: hidden;
      }

      .meta {
        // padding: 20px;

        .description {
          color: greenyellow;
        }
      }
    }
  }
}
