@import "../../../styles/_mixins.scss";

.list {
  list-style: none;
  margin: 0;
  margin-bottom: -20px;
  padding: 0;

  @include minWidth($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    // background-color: palevioletred;
    margin-bottom: 20px;

    @include minWidth($tablet) {
      width: 49%;
    }

    @include minWidth($desktop) {
      width: 32%;
    }

    //   &:not(:last-child) {
    //     margin-bottom: 30px;
    //   }
    // }

    // &:not(:last-child, :nth-last-child(2)) {
    //   margin-bottom: 30px;
    // }

    // .card {
    //   // background-color: pink;

    //   .thumb {
    //     @include flexXY(center, center);
    //     overflow: hidden;
    //   }

    //   .meta {
    //     .description {
    //       // color: greenyellow;
    //     }
    //   }
    // }
  }
}
