@import "../../styles/extends";
@import "../../styles/mixins";

.topThreeWrap {
  @include padding(60px 0 40px);
  @extend %extends-position-relative;

  .topThree {
    .list {
      @include themeHandler() {
        list-style: none;
        @include padding(0);
        @include margin(0);
        @include marginB(-20px);

        @include minWidth($tablet) {
          @include flexWrap(wrap);

          @include maxWidth($desktop - 1) {
            justify-content: space-between;
          }
        }

        .item {
          @include marginB(20px);
          @include bgColor(var(--background-hover));
          @include borderRadius(8px);
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transition: 0.4s ease;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }

          @include minWidth($tablet) {
            @include width(49%);
          }

          @include minWidth($desktop) {
            @include width(32%);

            &:not(:nth-child(3n + 3)) {
              @include marginR(2%);
            }
          }

          .card {
            .thumb {
              @extend %extends-position-relative;

              > img {
                @include borderRadius(6px 6px 0 0);
              }
            }

            .meta {
              @include padding(15px 15px 20px);

              h3 {
                @include marginB(12px);
                @include fontSize(15px);
                color: var(--text);
                @include lineClamp(1);
                transition: 0.4s ease;
              }

              .description {
                @include fontSize(13px);
                color: var(--text-light);
                line-height: 1.4;
                @include lineClamp(2);
                transition: 0.4s ease;
              }
            }
          }
        }
      }
    }
  }
}
