@import "../styles/vars.scss";
@import "../styles/_mixins.scss";

.content {
  padding: 30px;
  background-color: palevioletred;

  @include maxWidth($tablet - 1) {
    // background-color: yellowgreen;
    padding: 20px 0;
  }
}
