@import "../../styles/vars.scss";
@import "../../styles/_mixins.scss";

.headerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: $max;
  height: $headerHeight;
  // background-color: palevioletred;
}

.mainContainer {
  position: relative;
  // padding: $headerHeight 0 0 0;
  margin: 0 auto;
  // background-color: yellow;

  @include minWidth($tablet) {
    max-width: $tablet;
    // background-color: yellowgreen;
  }

  @include minWidth($desktop) {
    max-width: $desktop;
    // background-color: green;
  }
}

.fixedContainer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: $max;
  z-index: 2;
}

.innerContainer {
  margin: 0 auto;
  width: 94%;

  @include minWidth($tablet) {
    width: 96%;
  }
}

.cardContainer {
  @include maxWidth($tablet - 1) {
    margin: 0 auto;
    width: 92%;
  }
}

.footerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: $max;
  // background-color: palegreen;
}
