@import "../../theme/index.scss";
@import "../../styles/vars.scss";
@import "../../styles/_mixins.scss";

// ----------- List

.articlesButtonWrap {
  @include themeHandler() {
    display: inline-block;
    padding: 4px;
    background-color: var(--secondary-background);
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    // background-color: pink;

    .articlesButton {
      display: flex;
      padding: 4px;
      border: 4px solid var(--contrast-background);
      border-radius: 6px;
      transition: border-color 0.4s ease;

      svg {
        fill: var(--contrast-background);
        transition: fill 0.4s ease;
      }
    }

    &:hover .articlesButton {
      border-color: var(--contrast-background-hover);
    }

    &:hover svg {
      fill: var(--contrast-background-hover);
    }
  }
}
