@import "../theme/index.scss";

// ----------- position:

%extends-position-relative {
  position: relative;
}

%extends-position-absolute {
  position: absolute;
}

%extends-position-fixed {
  position: fixed;
}

// ----------- display:

%extends-display-flex {
  display: flex;
}

// ----------- flex:

%extends-align-items-center {
  align-items: center;
}

// ----------- flex y:

%extends-flex-y-center {
  @extend %extends-display-flex;
  @extend %extends-align-items-center;
}

// ----------- font:

%extends-color-middle-grey {
  color: $middleGrey;
}

// ----------- z-index:

%extends-z-index-1 {
  z-index: 1;
}

// ----------- overflow:

%extends-hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
