@import "../theme/index.scss";

// ----------- position:

%extends-position-relative {
  position: relative;
}

%extends-position-absolute {
  position: absolute;
}

%extends-position-fixed {
  position: fixed;
}

// ----------- display:

%extends-display-flex {
  display: flex;
}

// ----------- flex x:

%extends-justify-content-center {
  justify-content: center;
}

%extends-justify-content-end {
  justify-content: flex-end;
}

%extends-justify-content-between {
  justify-content: space-between;
}

%extends-flex-x-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-center;
}

%extends-flex-x-end {
  @extend %extends-display-flex;
  @extend %extends-justify-content-end;
}

%extends-flex-x-between {
  @extend %extends-display-flex;
  @extend %extends-justify-content-between;
}

// ----------- flex y:

%extends-align-items-center {
  align-items: center;
}

%extends-flex-y-center {
  @extend %extends-display-flex;
  @extend %extends-align-items-center;
}

// ----------- flex x y:

%extends-flex-x-center-y-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-center;
  @extend %extends-align-items-center;
}

%extends-flex-x-between-y-center {
  @extend %extends-display-flex;
  @extend %extends-justify-content-between;
  @extend %extends-align-items-center;
}

// ----------- flex direction:

%extends-flex-direction-column {
  flex-direction: column;
}

%extends-flex-dir-colimn-x-center-y-center {
  @extend %extends-display-flex;
  @extend %extends-flex-direction-column;
  @extend %extends-justify-content-center;
  @extend %extends-align-items-center;
}

// ----------- width:

%extends-width-100 {
  width: 100%;
}

// ----------- font:

%extends-color-middle-grey {
  color: $middleGrey;
}

// ----------- z-index:

%extends-z-index-1 {
  z-index: 1;
}

// ----------- overflow:

%extends-hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}
