@import "../styles/mixins";
@import "../styles/vars";
@import "../theme/index";

body {
  margin: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include bgColor($light);
  transition: background-color 0.4s ease;
}

* {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: $middleGrey;
  // transition: color 0.4s ease;
}

p {
  margin: 0;
  color: $middleGrey;
}

button {
  border: none;
  @include bgColor(transparent);
}

a {
  display: block;
  color: $middleGrey;
}

img {
  display: block;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.globalWrapper {
  min-width: 100%;
}

.main {
  margin: 0 auto;
  max-width: $max;
  min-height: 100vh;
}

[data-theme="light"] body {
  @include bgColor($light);
  color: $dark;

  h1,
  h2,
  h3 {
    color: $dark;
  }

  a {
    color: $dark;
  }
}

[data-theme="dark"] body {
  @include bgColor($dark);
  color: $light;

  h1,
  h2,
  h3 {
    color: $light;
  }

  a {
    color: $light;
  }
}
